{% extends "email_base.html" %} {% block content %}
<h2>Access Recovery Protocol</h2>
<p>Hello,</p>
<p>A request has been initiated to reset the access credentials for your SkyShield account. Follow the protocol below to establish a new password:</p>
<div style="text-align: center;">
    <a href="{{ password_reset_url }}" class="button">Reset Credentials</a>
</div>
<p class="secondary-text">This recovery link will expire in 24 hours. If you did not authorize this protocol, please ignore this transmission or contact support.</p>
<p class="secondary-text"><a href="{{ password_reset_url }}">{{ password_reset_url }}</a></p>
<p>Safe skies,<br>The SkyShield Team</p>
{% endblock %}